@font-face {
    font-family: GothamPro;
    font-style: normal;
    font-weight: 400;
    src: url(ys0-9qjk.html#iefix) format("embedded-opentype"), url(j7bsf9ce.woff) format("woff"), url(yaebm8jy.ttf) format("truetype")
}

@font-face {
    font-family: GothamPro;
    font-style: normal;
    font-weight: 300;
    src: url(g5zgb49w.html#iefix) format("embedded-opentype"), url(3iazjl2q.woff) format("woff"), url(hnpipwj_.ttf) format("truetype")
}

@font-face {
    font-family: GothamPro;
    font-style: normal;
    font-weight: 700;
    src: url(urij6w6f.html#iefix) format("embedded-opentype"), url(f6vdcdzz.woff) format("woff"), url(u-yxio6h.ttf) format("truetype")
}

@font-face {
    font-family: GothamPro;
    font-style: normal;
    font-weight: 600;
    src: url(1swe88p9.html#iefix) format("embedded-opentype"), url(m7_xepi4.woff) format("woff"), url(1amfl0pl.ttf) format("truetype")
}

@font-face {
    font-family: GothamPro;
    font-style: normal;
    font-weight: 900;
    src: url(8rota0ie.html#iefix) format("embedded-opentype"), url(tg2bihb_.woff) format("woff"), url(8a4vosis.ttf) format("truetype")
}